@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
a,
a:hover {
    text-decoration: none;
    color: #fff;
}
img {
    max-width: 100%;
}
.btn {
    font-weight: 400;
    padding: 8px 20px;
    color: #fff;
}
.btn:hover {
    color: #fff;
}
section {
    padding: 50px 0;
}

section.banner {
    padding-top: 80px;
}
section.banner h1 {
    font-size: 48px;
    line-height: 1;
}
/*========================== HEADER ==========================*/
header {
      background: #172932;
      position: relative;
      z-index: 3;
  }
  header .top {
      padding: 15px 0;
  }
  header .top ul li:not(:last-child) {
      margin-right: 30px;
  }
  header .top a {
      color: #5D696F;
      display: block;
      font-size: 25px;
      line-height: 1;
  }
  header .top .faq-text a {
      font-size: 15px;
      font-weight: 700;
  }
  header .navbar {
      padding: 10px 0;
      border-top: 1px solid #28555F;
  }
  header .navbar .nav-item {
      margin: 0 30px;
  }
  header .navbar .nav-link {
      color: #fff;
      font-weight: 400;
  }
  header .navbar .dropdown-toggle::after {
      display: none;
  }
  header .navbar .dropdown-menu {
      border-radius: 8px;
      border: none;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
      min-width: 12rem;
      background: linear-gradient(180deg, #FFFFFF 18.75%, rgba(255, 255, 255, 0.633333) 100%);
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
  }
  header .navbar .dropdown-menu:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
  }
/* ===================== PAGE-HOME =================== */
#page-home {
background: #172932;
color: #fff;
}
#page-home .page-banner .input-group{
    background: linear-gradient(359deg, rgb(91 176 195 / 57%) -6.56%, rgb(27 53 58 / 26%) 115.47%);
    border: 1.5px solid rgba(85, 198, 208, 0.4);
    box-shadow: 17px 0px 28px rgba(85, 198, 208, 0.15);
    border-radius: 10px;
    padding: 15px;
}
#page-home .page-banner .input-group i{
    position: absolute;
    top: 23px;
    right: 20px;
}
#page-home .page-banner .input-group input,
#page-home .page-banner .input-group .btn-buttom{
    background:-6.56%, rgb(35 72 80 / 26%);
    border: none;
    box-shadow: none;
    color: white;
}
#page-home .page-banner .input-group ul{
    background:  rgb(0 0 0 / 26%);
    padding: 10px;
}
#page-home .page-banner .input-group ul {
    position: absolute;
    margin: 0px;
    inset: 0px auto auto 0px;
    transform: translate(16px, 56px);  
}
#page-home .page-banner .input-group ul li a:hover{
    background:  rgb(120 213 233 / 26%);
    border-radius: 5px;
    color: white;
}
#page-home .page-banner .input-group ul li a{
    color: white;
}
/* ======= */
#page-home .page-chart .column-hyra{
    background:  #16353C;
    border: 2px solid rgba(1, 255, 240, 0.1);
    border-radius: 10px;
    padding: 20px;
}
#page-home .page-chart .column-hyra p{
    margin: 0;
}
#page-home .page-chart .column-hyra .rate-table{
    padding: 15px 0;
}
#page-home .page-chart .column-hyra .rate-table img{
    padding-right: 35px;

}
#page-home .page-chart .column-hyra .rate-table .title-price{
    color: #01FFF0;
}
#page-home .page-chart .column-hyra .rate-table .badge{
    background: rgba(4, 198, 0, 0.8);
    border: 0.5px solid #80FF82;
    box-shadow: 0px 4px 20px #09BD0D;
    border-radius: 3px;
}
#page-home .page-chart .column-hyra .rate-table .badge-red{
    background: #A3090B;
    border: 0.5px solid #FF7F7F;
    box-shadow: 0px 4px 20px #BD0909;
    border-radius: 3px;
    height: 26px;
    margin: 4px 19px;
}
/* ========== */
#page-home .page-chart .column-hyra .boder-1{
    border-right: 2px solid #154C54;;
    padding: 5px 10px;
}
#page-home .page-chart .column-hyra .price-column .title-hyra{
    color: #01FFF0;
}
#page-home .page-chart .column-hyra .price-column{
    text-align: center;
    width: 20%;
}
/* ========= */
#page-home .page-chart .column-hyra .badge-bk{
    background: #134448;
    border-radius: 5px;
    border: none;
    padding: 13px;
}
#page-home .page-chart .column-hyra .blocks a{
    /* overflow: auto; */
    color: #01FFF0;
    text-decoration: none
}
#page-home .page-chart .column-hyra .blocks .ribbon {
    width: 7%;
    height: 30px;
    border-top: 16px solid transparent;
    border-left: 25px solid #16353C;
    border-bottom: 16px solid transparent;
    position: absolute;
    display: block;
    background: #134448;
    /* border: linear-gradient(344.23deg, rgba(85, 186, 208, 0.57) -6.56%); */
  }
  #page-home .page-chart .column-hyra .blocks .ribbon span{
      position: absolute;
      bottom: -12px;
  }
  /* ===================== FOOTER =================== */
footer {
    position: relative;
    background: linear-gradient(#C40075, #db0082);
    text-align: center;
    padding: 40px 0;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
}
footer .footerSocial {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
footer ul li:not(:last-child) {
    margin-right: 45px;
}
footer .copyright {
    padding: 30px 0;
    font-size: 13px;
}
