@font-face {
    font-family: gotham-light;
    src: url(fonts/gotham-light.otf);
  }
  @font-face {
    font-family: gotham-bold;
    src: url(fonts/gotham-bold.otf);
  }
  @font-face {
    font-family: gotham-regular;
    src: url(fonts/gotham-regular.otf);
  }
body {
    font-size: 16px;
    font-family: gotham-light;
    overflow-x: hidden;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    z-index: 1;
    position: relative;
}
h1,
h2,
h6{
    font-family: gotham-regular;
}
h3,
h4,
h5{
    font-family: gotham-bold;
}
a,
a:hover {
    text-decoration: none;
    color: #fff;
}
img {
    max-width: 100%;
}
.btn {
    font-weight: 400;
    padding: 8px 20px;
    color: #fff;
}
.btn:hover {
    color: #fff;
}
section {
    padding: 50px 0;
}

section.banner {
    padding-top: 80px;
}
section.banner h1 {
    font-size: 48px;
    line-height: 1;
}

/*========================== HEADER ==========================*/
header {
      background: #172932;
      position: relative;
      z-index: 3;
  }
  header .top {
      padding: 15px 0;
  }
  header .top ul li:not(:last-child) {
      margin-right: 30px;
  }
  header .top a {
      color: #5D696F;
      display: block;
      font-size: 25px;
      line-height: 1;
  }
  header .top .faq-text a {
      font-family: gotham-bold;
  }
  header .navbar {
      padding: 10px 0;
      border-top: 1px solid #28555F;
  }
  header .navbar .nav-item {
      margin: 0 30px;
  }
  header .navbar .nav-link {
      color: #fff;
      /* font-weight: 400; */
      font-family: gotham-regular;
  }
  header .navbar .dropdown-toggle::after {
      display: none;
  }
  header .navbar .dropdown-menu {
      border-radius: 8px;
      border: none;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
      min-width: 12rem;
      background: linear-gradient(180deg, #FFFFFF 18.75%, rgba(255, 255, 255, 0.633333) 100%);
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
  }
  header .navbar .dropdown-menu:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
  }

/* ===================== PAGE-HOME =================== */
#page-home {
background: #172932;
color: #fff;
}
#page-banner {
    background: #172932;
    color: #fff;  
}
#page-banner .input-group{
    background: linear-gradient(344.23deg, rgba(85, 186, 208, 0.57) -6.56%, rgba(85, 186, 208, 0.26) 115.47%);
    border: 3px solid rgba(85, 198, 208, 0.4);
    box-shadow: 17px 0px 28px rgba(85, 198, 208, 0.15);
    border-radius: 10px;
    padding: 15px;
}
#page-banner .input-group i{
    position: absolute;
    top: 23px;
    right: 20px;
    font-size: 30px;
}
#page-banner .input-group .btn-buttom{
    box-shadow: none;
    color: white;
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    width: 14%;
    display: flex;
    font-size: 20px;
    opacity: 0.7;
}
#page-banner .input-group .btn-buttom i{
    position: absolute;
    top: -2px;
}
#page-banner .input-group input{
    background: rgb(67 152 171 / 0%);
    border: none;
    box-shadow: none;
    color: white;
}
#page-banner .input-group ul{
    background:  #172932;
    padding: 20px 10px;
}
#page-banner .input-group ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
  }
#page-banner .input-group ul li a:hover{
    background:  rgb(120 213 233 / 26%);
    border-radius: 5px;
    color: white;
}
#page-banner .input-group ul li a{
    color: white;
    padding: 15px 5px;
}
#page-banner .blur{
    position: absolute;
    left: 523px;
    top: 0;
    width: 501px;
    height: 450px;
    background: #01F0FF;
    filter: blur(312.1px);
}
/* ======= */
#page-home .page-chart .column-hyra{
    background:  #16353C;
    border: 2px solid rgba(1, 255, 240, 0.1);
    border-radius: 10px;
    padding: 20px;
}
#page-home .page-chart .column-hyra p{
    margin: 0;
}
#page-home .page-chart .column-hyra .rate-table{
    padding: 15px 0;
}
#page-home .page-chart .column-hyra .rate-table img{
    padding-right: 35px;

}
#page-home .page-chart .column-hyra .rate-table .title-price{
    color: #01FFF0;
}
#page-home .page-chart .column-hyra .rate-table .badge{
    background: rgba(4, 198, 0, 0.8);
    border: 0.5px solid #80FF82;
    box-shadow: 0px 4px 20px #09BD0D;
    border-radius: 3px;
}
#page-home .page-chart .column-hyra .rate-table .badge-red{
    background: #A3090B;
    border: 0.5px solid #FF7F7F;
    box-shadow: 0px 4px 20px #BD0909;
    border-radius: 3px;
    height: 26px;
    margin: 4px 19px;
}
/* ========== */
#page-home .page-chart .column-hyra .boder-1{
    border-right: 2px solid #154C54;;
    padding: 5px 10px;
}
#page-home .page-chart .column-hyra .price-column .title-hyra{
    color: #01FFF0;
}
#page-home .page-chart .column-hyra .price-column{
    text-align: center;
    width: 20%;
}
/* ========= */
#page-home .page-chart .column-hyra .badge-bk{
    background: #134448;
    border-radius: 5px;
    border: none;
    padding: 13px;
}
#page-home .page-chart a{
    color: #01FFF0;
    text-decoration: none
}
#page-home .page-chart .column-hyra .ribbon {
    width: 155px;
    border-top: 16px solid transparent;
    border-left: 25px solid #16353C;
    border-bottom: 16px solid transparent;
    position: relative;
    background: #134448;
    right: 35px;
    border-radius: 5px;
  }
  #page-home .page-chart .column-hyra .ribbon span{
      position: absolute;
      bottom: -12px;
  }
    #page-home .page-chart .btn-blocks{
        width: 100%;
        background: #125D60;
        border-radius: 5px;
        box-shadow: none;
        color: #01FFF0;
  }
  #page-home .page-chart .column-hyra .collum-latest{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    width: 100%;
  }
  /* ================page-block=================== */
  #page-block{
    background: #172932;
    color: #fff;
  }
#page-block .table{
    background: #16353C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    padding: 8px;
}
#page-block .active{
    background: rgb(0 255 240 / 10%);
    border-radius: 10px;
}
#page-block tr th,
 td{
    padding: 20px 10px;
}
#page-block tr .text-color{
    color: #01FFF0;
    text-decoration: none;
    
}
#page-block tr {
    border-bottom: 1px solid  #154C54;
    /* border-radius: 20px !important; */
}
#page-block tr span{
    color: #C4C4C4;
}
#page-block tr:hover{
    background: rgba(3, 105, 98, 0.1);
    border-radius: 5px;
}
#page-block .progress{
    height: 3px;
}
#page-block .progress-bar {
    background-color: #01FFF0;
}

/* show trang & phân trang  */
.counter{
    border: 1px solid rgba(85, 198, 208, 0.4);
    background: #172932;
    color: white;
    border-radius: 5px;
}
.pagination .page-item .page-link{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #267983;
    border-radius: 5px;
    border: none;
    color: #01FFF0;
}

/* =======================page-block-transection================= */
#page-block-transection{
    background: #172932;
    color: #fff;
}
#page-block-transection .table-blocks{
    background: #16353C;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
#page-block-transection nav .nav-tabs {
        border-bottom: 1px solid #154C54;
}
#page-block-transection .nav-link{
    border: none;
    color: white;
    font-weight: 700;
}
#page-block-transection .nav-tabs .active{
    background: #16353C;
    color: #01F0FF;
    border-bottom: 5px solid #01F0FF;
}
#page-block-transection .table-blocks p,
#page-block-transection .tab-internal p{
    margin: 0;
}
#page-block-transection .table-blocks p i {
    margin-right: 20px;
}
#page-block-transection .table-blocks .boder-symbol{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #267983;
    border-radius: 3px;
    padding: 5px;
    margin: 0 4px;
    font-weight: 800;
}
#page-block-transection .table-blocks .boder-text{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #267983;
    border-radius: 3px;
    padding: 5px;
    margin: 0 4px;
    color: #01FFF0;
}
#page-block-transection .table-blocks .tab-transection .row{
    padding: 15px;
    border-bottom: 1px solid #154C54;
}
#page-block-transection .table-blocks .tab-transection .row .ex3 {
    overflow-y: scroll;
    background: #172A33;
    border-radius: 5px;
    height: 80px;
    padding: 20px;
    border: 2px solid #154C54;
  }
  #page-block-transection .table-blocks .tab-transection a{
    color: #01FFF0;
    text-decoration: none;
  }
  #page-block-transection .tab-internal{
      height: 500px;
  }
  /* ======================page-transection====================== */
    #page-transection{
    background: #172932;
    color: #fff;
  }
   #page-transection .table-transection{
    background: #16353C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    padding: 8px;
  }
  #page-transection .active{
    background: rgb(0 255 240 / 10%);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
#page-transection tr p{
    margin: 0;
}
#page-transection tr a{
    text-decoration: none;
    color: #01FFF0;
}
#page-transection tr th,
 td{
    padding: 20px 10px ;
}
.text-transection{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #267983;
    border-radius: 3px;
    padding: 5px;
}
/* ==============contact================= */
#overview{
    background: #172932;
    color: #fff;
    padding: 50px 0;
  }
  #overview .overview-hyra{
    background: #16353C;
    border: 3px solid #173943;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin-right: 35px;
  }
  #overview .overview-hyra p{
      margin: 0;
  }
  #overview .overview-hyra .form-select{
    background: #102C30 url("../public/img/dropdown.png") no-repeat center right 13px;
    color: white;
    border: none;
    box-shadow: none;
    padding: 3px 12px;
}
#overview .overview-hyra .icon-token{
    background: #102C30;
    border-radius: 3px;
}
#overview .overview-hyra .title-overview{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #267983;
    border-radius: 5px;
    padding: 5px 10px;
    width: 82%;
  }
  /* ===================== FOOTER =================== */
footer {
    position: relative;
    background: linear-gradient(#C40075, #db0082);
    text-align: center;
    padding: 40px 0;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
}
footer .footerSocial {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
footer ul li:not(:last-child) {
    margin-right: 45px;
}
footer .copyright {
    padding: 30px 0;
    font-size: 13px;
}
